html body {
  margin: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

.xml .javascript {
  opacity: 1;
}
